/* Main container */
.about-section {
 
  background-color: #F7F7F7; /* Light gray background */
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  gap: 20px;
  align-items: center;
}

/* Image section */
.about-image {
  position: relative; 
  flex: 1;
  top: 80px;
   transform: translateY(-1.3rem) 

  
  
}

.about-image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover; 
  padding: 30px;
 
  
 
}
.about-img{
  width: 100%;
  border-radius: 10px;
  transform: translate(3.3rem);
  
 
  
  
}

.about-img1{
  width: 100%;
  border-radius: 10px; 
 
  object-fit: cover;
  transform: translateY(-37.5rem)

  

   
}


/* Text content */
.about-content {
  flex: 1;
  text-align: left;
  top: 50px;
  margin-right: 100px;
  z-index: 1;
  transform: translateY(-19.5rem)
 
}

.highlight-text {
  color: #F45E31; /* Orange color */
  font-size: 17px;
  text-transform: uppercase;
  line-height: 20px;
  margin-bottom: 10px;
  transform: translate(5.2rem);
 
 
}

.about-title {
  font-size: 35px;
  color: #0E1F51; /* Dark blue */
  margin-bottom: 20px;
  line-height: 50px;
  transform: translate(5.2rem);
}

.about-description {
 
  font-size: 20px;
  color:#000000;
  line-height: 35px;
  
  /* margin-bottom: 20px; */

  transform: translate(5.2rem);
}

.about-button {
  background-color: #F45E31;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  transform: translate(5.2rem);
}

.about-button:hover {
  background-color: #F45E31;
}

/* Responsive Design */
@media (max-width: 992px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-content {
    text-align: center;
  }

  .about-title {
    font-size: 2rem;
  }
}
