/* General Styles */

/* Hero Section Styles */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  background-image: url("../image/background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: #FFFFFF;
 
}

.hero-content {
  max-width: 600px;
  margin-left: 10%;
  z-index: 2;
  width: 797px;
  height: 222.66px;
  margin-right: 50px;
  padding: 110px;

border-radius: 5px 0px 0px 0px;
opacity: 0px;
/* transform: translate(6.5rem); */

}

.hero-subtitle {
  font-size: 20px;
  line-height: 20px;
  color: #F45E31;
  font-weight: 700;
  margin-bottom: 5px;
  transform: translateY(1.0rem);
}

.hero-title {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 20px;
}

.hero-button {
  padding: 15px 30px;
  background-color: #F45E31;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #F45E31;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-section {
    justify-content: center;
    text-align: center;
  }

  .hero-content {
    margin-left: 20px;
    padding: 20px;
  }

  .hero-title {
    font-size: 28px;
  }
}
