/* Main Section */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-family: "Raleway", serif;
}

.overlap-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
 
  background-color: #F7F7F7;
}

/* Image Container */
.image-container {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
}

.overlapping-images {
  position: relative;
  display: inline-block;
}

.main-image,
.overlap-image {
  width: 495px;
  height: 440px;
   object-fit: cover; 
  border-radius: 8px;
 transform: translateY(4.0rem); 
} 

.overlap-image {
  position: absolute;
   bottom: 45px;
  right:  45px; 
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Content Container */
.content-container {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  padding: 60px 80px 0px;
  transform: translate(-3.0rem);

  /* gap: 15px; */
}

.content-container h2 {
  font-size: 18px;
  line-height: 20px;
  color: #F45E31;
  text-transform: uppercase;
 
 
  
}

.content-container h1 {
  font-size: 35px;
  line-height: 45px;
  color: #0E1F51;
  transform: translateY(-2.0rem);
  
}
.content-container p {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-align: justify;
  transform:  translateY(-3.5rem); 
  
}

.cta-button {
   width: 137px; 
 
  background-color: #F45E31;
  color: #FFFFFF;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transform:  translateY(-2.0rem);
}

.cta-button:hover {
  background-color: #F45E31;
}

/* Responsive Design */
@media (max-width: 768px) {
  .overlap-section {
    flex-direction: column;
  }

  .image-container,
  .content-container {
    max-width: 100%;
  }

  .main-image,
  .overlap-image {
    width: 100%;
    height: auto;
  }

  .overlap-image {
    bottom: 35px;
    right: 25px;
  }

  .content-container h1 {
    font-size: 24px;
  }

  .content-container p {
    font-size: 14px;
  }
}
