/* General Reset */
body, html, ul, li, a, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #ffff;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 20px;
  font-weight: bold;
  color: #0E1F51;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
}

.menu.open {
  transform: translateY(0);
}

.menu-item {
  text-decoration: none;
  color: #0E1F51;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.menu-item.active {
  color: #F45E31;
  text-decoration: underline;
  font-weight: bold;
}

.menu-item:hover {
  color: #F45E31;
}

.btn-contact {
  background-color: #F45E31;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.btn-contact:hover {
  background-color: #F45E31;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #F45E31;
  border-radius: 2px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .menu {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fff;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    transform: translateY(-200%);
  }

  .menu.open {
    transform: translateY(0);
  }

  .hamburger {
    display: flex;
  }
  body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  
}
